@model RentalService.Models.Register

<h1>Sign-in</h1>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();

    <span>Login: </span> @Html.TextBoxFor(x => x.UserName )
    <span>Email: </span> @Html.TextBoxFor(x => x.Email )
    <span>Hasło: </span> @Html.PasswordFor(x => x.Password )

    <button type="submit">Sign-in</button>

}
